/* BODY FILL COMPLETE PAGE VERTICALLY*/
.vertical-fill 
{
    height: 100%;
    min-height: 100%;
}

/* REFRIGERATOR IMAGE */
#img_nevera 
{   
    position: absolute;
    top: 230px;
    width: 265px;
}

/*.img-glow
{
    box-shadow: 0px 0px 8px 4px red;
}*/

/* DISPLAY TEXT FOR TEMPERATURE CONTROL */
.text-glow
{
    color: #3366ff;
    text-shadow: 0px 0px 15px #3366ff;
}

#hora
{
    position: absolute;
    top: 115px;
    font-size: 22px;
    color: #ddd;
    border: solid 3px #aaa;
    padding: 2px;
}

/* TEMPERATURA EXTERIOR */
#div_temperatura_exterior
{
    position: absolute;
    top: 185px;
    font-size: 22px;
    border: dotted 2px #ddd;
    border-radius: 5px;
    padding: 0.2rem 0.4rem;
}

/* TEMPERATURA REFRIGERADOR */
#div_temperatura_refrigerador
{
    position: absolute;
    top: 270px;
    font-size: 22px;
    border: dotted 2px #ddd;
    border-radius: 5px;
    padding: 0.2rem 0.4rem;
}

/* TEMPERATURA CONGELADOR */
#div_temperatura_congelador
{
    position: absolute;
    top: 510px;
    font-size: 22px;
    border: dotted 2px #ddd;
    border-radius: 5px;
    padding: 0.2rem 0.4rem;
}

/* TOOGLE SWITCH FOR LIGHT CONTROL*/
#luz_refrigerador_label
{
    top: 400px;
}

#luz_congelador_label
{
    top: 630px;
}

/* The switch - the box around the slider */
.switch 
{
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 25px;
    border-radius: 50%;
}
  
/* Hide default HTML checkbox */
.switch input 
{
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-glow
{
    box-shadow: 0px 0px 8px 4px #FFD800;
    -webkit-transition: .4s;
    transition: .4s;
}

/* The slider */
.slider 
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before 
{
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider 
{
    background-color: #FFD800;
}

input:focus + .slider 
{
    box-shadow: 0 0 1px #FFD800;
}

input:checked + .slider:before 
{
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
}

/* Rounded sliders */
.slider.round 
{
    border-radius: 34px;
}

.slider.round:before 
{
    border-radius: 50%;
}

/* MODE (ON, OF, TURBO) */
#div_modo_refrigerador
{
    position: absolute;
    top: 440px;
    padding: 0.2rem;
    border: solid 2px #ddd;
    border-radius: 5px;
}

#div_modo_congelador
{
    position: absolute;
    top: 660px;
    padding: 0.2rem;
    border: solid 2px #ddd;
    border-radius: 5px;
}

#modo_refrigerador, #modo_congelador
{
    font-size: 18px;
    font-weight: bold;
    color: #ddd;
    border: solid 2px #ddd;
    border-radius: 5px;
    background-color: #343A40;
    margin-left: 0.5rem;
    margin-top: 1px;
}

/***** CONTROL TEMPERATURA *****/
#control_temperatura_refrigerador
{
    position: absolute;
    top: 290px;
}

#control_temperatura_congelador
{
    position: absolute;
    top: 520px;
}

input[type="number"] {
    -webkit-appearance: textfield;
      -moz-appearance: textfield;
            appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none;
}
.number-input {
margin-top: 3rem;
}
.number-input button {
-webkit-appearance: none;
background-color: transparent;
border: none;
align-items: center;
justify-content: center;
cursor: pointer;
margin: 0;
position: relative;
}
.number-input button:before,
.number-input button:after {
display: inline-block;
position: absolute;
content: '';
height: 2px;
transform: translate(-50%, -50%);
}
.number-input button.plus:after {
transform: translate(-50%, -50%) rotate(90deg);
}
.number-input input[type=number] {
text-align: center;
}

.md-number-input.number-input {
border: 2px solid #ddd;
border-radius: 5px;
width: 8rem;
}
.md-number-input.number-input button {
outline: none;
width: 2rem;
height: 1rem;
padding-top: .0rem;
}
.md-number-input.number-input button.minus {
padding-left: 8px;
}
.md-number-input.number-input button.plus {
padding-left: 2px;
}
.md-number-input.number-input button:before,
.md-number-input.number-input button:after {
width: 1rem;
background-color: #ddd;
}
.md-number-input.number-input input[type=number] {
max-width: 3rem;
padding: .2rem;
border: solid #ddd;
border-width: 0 2px;
font-size: 22px;
height: 2rem;
font-weight: bold;
outline: none;
}
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
.number-input.md-number-input.safari_only button:before, 
.number-input.md-number-input.safari_only button:after {
    margin-top: -.6rem;
}
}}

/***** PEDIDO *****/
#botones
{
    position: absolute;
    top: 720px;
}
#myBtn, #myBtn2
{
    margin: 1rem;
    padding: 1rem;
    font-size: 22px;
    font-weight: bold;
    border-radius: 50%;
}
/* fondo */
.black-screen {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    opacity: 0;
}

/* Info msg */
.tooltiptext {
    opacity: 0;
    transition: opacity 1s;
    font-size: 18px;
    visibility: hidden;
    width: 120px;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    text-align: center;
    padding: 3px 0;
    border-radius: 6px;
    bottom: 110%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
#div_temperatura_refrigerador:hover .tooltiptext, #div_temperatura_exterior:hover .tooltiptext,
#div_temperatura_congelador:hover .tooltiptext,#div_modo_refrigerador:hover .tooltiptext,
#div_modo_congelador:hover .tooltiptext, #control_temperatura_refrigerador:hover .tooltiptext,
#control_temperatura_congelador:hover .tooltiptext, #myBtn:hover .tooltiptext,
#myBtn2:hover .tooltiptext, #pantalla:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Info msg */
#myBtn .tooltiptext {
    font-size: 20px;
    bottom: 90%;
    margin-left: -115px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Info msg */
#myBtn2 .tooltiptext {
    font-size: 20px;
    bottom: 90%;
    margin-left: 0px; /* Use half of the width (120/2 = 60), to center the tooltip */
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
  
/***** CONTROL MODO PANTALLA *****/
#pantalla
{
    position: absolute;
    top: 850px;
    padding: 0.5rem;
    border: solid 2px #ddd;
    border-radius: 5px;
}

#modo_pantalla
{
    margin: 0.3rem;
    font-size: 20px;
    font-weight: bold;
    color: #ddd;
    border: solid 2px #ddd;
    border-radius: 5px;
    background-color: #343A40;
}

#modo_pantalla:hover, #modo_refrigerador:hover, #modo_congelador:hover
{
    cursor: pointer;
    border: solid 2px #A0A0A0;
    transition: border 0.7s;
}

#icono_brillo
{
    margin-bottom: 0.25rem;
}