/* BODY FILL COMPLETE PAGE VERTICALLY*/
.vertical-fill 
{
    height: 100%;
    min-height: 100%;
}

/* REFRIGERATOR IMAGE */
#img_nevera 
{
    width: 265px;
}

/*.img-glow
{
    box-shadow: 0px 0px 8px 4px red;
}*/

/* DISPLAY TEXT FOR TEMPERATURE CONTROL */
.text-glow
{
    color: #3366ff;
    text-shadow: 0px 0px 15px #3366ff;
}

#hora
{
    position: absolute;
    top: 175px;
    font-size: 25px;
    color: #ddd;
    border: solid 3px #aaa;
    padding: 2px;
}

#temperatura_exterior
{
    position: absolute;
    top: 110px;
    font-size: 25px;
}

#temperatura_refrigerador
{
    position: absolute;
    top: 220px;
    font-size: 25px;
}

#temperatura_congelador
{
    position: absolute;
    top: 490px;
    font-size: 25px;
}

/* TOOGLE SWITCH FOR LIGHT CONTROL*/
#luz_refrigerador_label
{
    top: 350px;
}

#luz_congelador_label
{
    top: 610px;
}

/* The switch - the box around the slider */
.switch 
{
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 25px;
    border-radius: 50%;
}
  
/* Hide default HTML checkbox */
.switch input 
{
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-glow
{
    box-shadow: 0px 0px 8px 4px #FFD800;
    -webkit-transition: .4s;
    transition: .4s;
}

/* The slider */
.slider 
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before 
{
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider 
{
    background-color: #FFD800;
}

input:focus + .slider 
{
    box-shadow: 0 0 1px #FFD800;
}

input:checked + .slider:before 
{
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
}

/* Rounded sliders */
.slider.round 
{
    border-radius: 34px;
}

.slider.round:before 
{
    border-radius: 50%;
}

/* MODE (ON, OF, TURBO) */
#modo_refrigerador, #modo_congelador
{
    position: absolute;
    top: 400px;
    font-size: 20px;
    font-weight: bold;
    color: #ddd;
    border: solid 2px #ddd;
    border-radius: 5px;
    background-color: #343A40;
}

#modo_congelador
{
    top: 650px;
}

/***** CONTROL TEMPERATURA *****/
#control_temperatura_refrigerador
{
    position: absolute;
    top: 235px;
}

#control_temperatura_congelador
{
    position: absolute;
    top: 500px;
}

input[type="number"] {
    -webkit-appearance: textfield;
      -moz-appearance: textfield;
            appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none;
}
.number-input {
margin-top: 3rem;
}
.number-input button {
-webkit-appearance: none;
background-color: transparent;
border: none;
align-items: center;
justify-content: center;
cursor: pointer;
margin: 0;
position: relative;
}
.number-input button:before,
.number-input button:after {
display: inline-block;
position: absolute;
content: '';
height: 2px;
transform: translate(-50%, -50%);
}
.number-input button.plus:after {
transform: translate(-50%, -50%) rotate(90deg);
}
.number-input input[type=number] {
text-align: center;
}

.md-number-input.number-input {
border: 2px solid #ddd;
border-radius: 5px;
width: 9rem;
}
.md-number-input.number-input button {
outline: none;
width: 2rem;
height: 2rem;
padding-top: .3rem;
}
.md-number-input.number-input button.minus {
padding-left: 8px;
}
.md-number-input.number-input button.plus {
padding-left: 2px;
}
.md-number-input.number-input button:before,
.md-number-input.number-input button:after {
width: 1rem;
background-color: #ddd;
}
.md-number-input.number-input input[type=number] {
max-width: 4rem;
padding: .2rem;
border: solid #ddd;
border-width: 0 2px;
font-size: 2rem;
height: 3rem;
font-weight: bold;
outline: none;
}
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
.number-input.md-number-input.safari_only button:before, 
.number-input.md-number-input.safari_only button:after {
    margin-top: -.6rem;
}
}}

/***** PEDIDO *****/
#botones
{
    position: absolute;
    top: 740px;
}
#myBtn, #myBtn2, #myBtn3
{
    margin: 0.8rem;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50%;
}
/* fondo */
.blackScreen {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}
  
/***** CONTROL MODO PANTALLA *****/
#modo_pantalla
{
    position: absolute;
    top: 850px;
    font-size: 20px;
    font-weight: bold;
    color: #ddd;
    border: solid 2px #ddd;
    border-radius: 5px;
    background-color: #343A40;
}