/* BODY FILL COMPLETE PAGE VERTICALLY*/
.vertical-fill 
{
    height: 100%;
    min-height: 100%;
}

/* REFRIGERATOR IMAGE */
#img_nevera 
{   
    position: absolute;
    top: 115px;
    width: 265px;
}

/*.img-glow
{
    box-shadow: 0px 0px 8px 4px red;
}*/

/* DISPLAY TEXT FOR TEMPERATURE CONTROL */
.text-glow
{
    color: #3366ff;
    text-shadow: 0px 0px 15px #3366ff;
}

#hora
{
    position: absolute;
    top: 15px;
    font-size: 22px;
    color: white;
    border: solid 2px white;
    border-radius: 10px;
    padding: 3px 5px;
}

#sensor_presencia
{
    position: absolute;
    top: 50px;
    margin-left: -100px;
    border-radius: 5px;
}

#btn_alarma
{
    position: absolute;
    top: 53px;
    margin-left: 100px;
}

/* TEMPERATURA EXTERIOR */
#div_temperatura_exterior
{
    position: absolute;
    top: 65px;
    font-size: 22px;
    border: solid 2px white;
    border-radius: 10px;
    padding: 3px 7px;
}

/* TEMPERATURA REFRIGERADOR */
#div_temperatura_refrigerador
{
    position: absolute;
    top: 160px;
    font-size: 20px;
    border: solid 2px white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 3px 7px;
}

/* TEMPERATURA CONGELADOR */
#div_temperatura_congelador
{
    position: absolute;
    top: 382px;
    font-size: 20px;
    border: solid 2px white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 3px 7px;
}

/* TOOGLE SWITCH FOR LIGHT CONTROL*/
#luz_refrigerador_label
{
    top: 275px;
}

#luz_congelador_label
{
    top: 485px;
}

/* The switch - the box around the slider */
.switch 
{
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 25px;
    border-radius: 50%;
}
  
/* Hide default HTML checkbox */
.switch input 
{
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-glow
{
    box-shadow: 0px 0px 8px 4px #FFD800;
    -webkit-transition: .4s;
    transition: .4s;
}

/* The slider */
.slider 
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before 
{
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider 
{
    background-color: #FFD800;
}

input:focus + .slider 
{
    box-shadow: 0 0 1px #FFD800;
}

input:checked + .slider:before 
{
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
}

/* Rounded sliders */
.slider.round 
{
    border-radius: 34px;
}

.slider.round:before 
{
    border-radius: 50%;
}

/* MODE (ON, OF, TURBO) */
#div_modo_refrigerador
{
    position: absolute;
    top: 315px;
    display: inline-block;
}

#div_modo_congelador
{
    position: absolute;
    top: 519px;
    display: inline-block;
}

#modo_refrigerador, #modo_congelador
{
    margin-left: 0.5rem;
}

/***** CONTROL TEMPERATURA *****/
#control_temperatura_refrigerador
{
    position: absolute;
    top: 150px;
}

#control_temperatura_congelador
{
    position: absolute;
    top: 372px;
}

input[type="number"] {
    -webkit-appearance: textfield;
      -moz-appearance: textfield;
            appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}
.number-input {
    margin-top: 3rem;
}
.number-input button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    position: relative;
}
.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    height: 2px;
    transform: translate(-50%, -50%);
}
.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}
.number-input input[type=number] {
    text-align: center;
}

.md-number-input.number-input {
    border: 2px solid white;
    border-radius: 10px;
    width: 8rem;
}
.md-number-input.number-input button {
    outline: none;
    width: 2rem;
    height: 1rem;
    padding-top: .0rem;
}
.md-number-input.number-input button.minus {
    padding-left: 8px;
}
.md-number-input.number-input button.plus {
    padding-left: 2px;
}
.md-number-input.number-input button:before,
.md-number-input.number-input button:after {
    width: 1rem;
    background-color: white;
}
.md-number-input.number-input input[type=number] {
    max-width: 3rem;
    border: solid white;
    border-width: 0 2px;
    font-size: 20px;
    height: 2rem;
    font-weight: bold;
    outline: none;
}
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
.number-input.md-number-input.safari_only button:before, 
.number-input.md-number-input.safari_only button:after {
    margin-top: -.6rem;
}
}}

/***** PEDIDO *****/
#botones
{
    position: absolute;
    top: 575px;
}
#myBtn, #myBtn2
{
    margin: 1rem;
    padding: 0.8rem;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50%;
}
/* fondo */
.black-screen {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    opacity: 0;
    pointer-events: none;
}

/* Info msg */
.tooltiptext {
    opacity: 0;
    transition: opacity 1s;
    font-size: 14px;
    visibility: hidden;
    width: 120px;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    text-align: center;
    padding: 3px 0;
    border-radius: 6px;
    bottom: 110%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */

    pointer-events: none;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
#div_temperatura_refrigerador:hover .tooltiptext, #div_temperatura_exterior:hover .tooltiptext,
#div_temperatura_congelador:hover .tooltiptext,#div_modo_refrigerador:hover .tooltiptext,
#div_modo_congelador:hover .tooltiptext, #control_temperatura_refrigerador:hover .tooltiptext,
#control_temperatura_congelador:hover .tooltiptext, #myBtn:hover .tooltiptext,
#myBtn2:hover .tooltiptext, #pantalla:hover .tooltiptext, #btn_alarma:hover .tooltiptext {
    visibility: visible;
    opacity: 1;   
    transition-delay:0.8s;
}

/* Info msg */
#myBtn .tooltiptext {
    font-weight: normal;
    bottom: 90%;
    margin-left: -105px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Info msg */
#myBtn2 .tooltiptext {
    font-weight: normal;
    bottom: 90%;
    margin-left: -10px; /* Use half of the width (120/2 = 60), to center the tooltip */
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
  
/***** CONTROL MODO PANTALLA *****/
#pantalla
{
    position: absolute;
    top: 650px;
    display: inline-block;
}

#icono_brillo
{
    margin-bottom: 0.25rem;
}

/* RADIO BUTTONS */
input[type=radio] 
{
    position: absolute;
    opacity: 0;
}

.radio-div
{
    display: inline-block;
    text-align: justify;
}
  
label 
{
    color: black;
    cursor: pointer;
    font-weight: bold;
    padding: 1px 20px;

    margin: auto !important;
}

input[type=radio]:checked + label
{
    color: black;
    background-color: white;
}

.radio-group 
{
    display: inline-block;
    margin: 20px;
    overflow: hidden;
    justify-content: center;
    vertical-align: middle;
}

#pantalla_activada + label, #congelador_speed + label, #refrigerador_speed + label
{
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    border-right: solid 2px white;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#pantalla_atenuada + label, #congelador_encendido + label, #refrigerador_encendido + label
{
    border: solid 2px white;
}

#pantalla_apagada + label, #congelador_apagado + label, #refrigerador_apagado + label
{
    border-top: solid 2px white;
    border-bottom: solid 2px white;
    border-left: solid 2px white;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#google_translate_element
{
    position:absolute;
    bottom: 20px;
}